/* src/components/Signup.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
}

.signup-container {
    width: 1000px; /* 창 크기를 키웠습니다 */
    padding: 80px;
    border-radius: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.signup h1 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 30px;
}

.signup form {
    display: flex;
    flex-direction: column;
}

.signup input {
    padding: 15px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    background-color: #f2f2f2;
    font-size: 2rem;
    color: #333;
}

.signup input:focus {
    outline: none;
    background-color: #e0e0e0;
}

.signup input.error {
    border: 2px solid #ff4d4d;
}

.signup button {
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    background-color: #4ad395;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup button:hover {
    background-color: #41c286;
}

.signup p {
    margin-top: 20px;
    font-size: 1rem;
    color: #666;
    text-align: center;
}

.signup p a {
    color: #4ad395;
    text-decoration: none;
    font-weight: bold;
}

.signup p a:hover {
    text-decoration: underline;
}
